Transformacios Ratigns

In [2]:
import pandas as pd

In [3]:
df_ratin1= pd.read_csv(r'MLOpsReviews\ratings\1.csv',delimiter = ',',encoding = "utf-8"  )
df_ratin2= pd.read_csv(r'MLOpsReviews\ratings\2.csv',delimiter = ',',encoding = "utf-8"  )
df_ratin3= pd.read_csv(r'MLOpsReviews\ratings\3.csv',delimiter = ',',encoding = "utf-8"  )
df_ratin4= pd.read_csv(r'MLOpsReviews\ratings\4.csv',delimiter = ',',encoding = "utf-8"  )
df_ratin5= pd.read_csv(r'MLOpsReviews\ratings\5.csv',delimiter = ',',encoding = "utf-8"  )
df_ratin6= pd.read_csv(r'MLOpsReviews\ratings\6.csv',delimiter = ',',encoding = "utf-8"  )
df_ratin7= pd.read_csv(r'MLOpsReviews\ratings\7.csv',delimiter = ',',encoding = "utf-8"  )
df_ratin8= pd.read_csv(r'MLOpsReviews\ratings\8.csv',delimiter = ',',encoding = "utf-8"  )

In [4]:
df_ratin1.head(1)

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680

In [5]:
df_ratinTotal= pd.concat([df_ratin1, df_ratin2,df_ratin3,df_ratin4,df_ratin5,df_ratin6,df_ratin7,df_ratin8])
df_ratinTotal.shape

(11024289, 4)

In [5]:
# #Agrego columna para transformar fecha
# df_ratinTotal['fecha']= df_ratinTotal['timestamp']
# df_ratinTotal.columns

Index(['userId', 'rating', 'timestamp', 'movieId', 'fecha'], dtype='object')

In [6]:
# #modifico fecha
# df_ratinTotal['fecha'] =  pd.to_datetime(df_ratinTotal['fecha'], unit='s', yearfirst= True)
# df_ratinTotal.head(1)

   userId  rating   timestamp movieId               fecha
0       1     1.0  1425941529   as680 2015-03-09 22:52:09

In [6]:
#reviso vacios
df_ratinTotal.isna().sum()

userId       0
rating       0
timestamp    0
movieId      0
dtype: int64

In [8]:
#saco el promedio y lo guardo en un nuevo df
score = df_ratinTotal.groupby(['movieId'])['rating'].mean()
df_score = pd.DataFrame(data = score)
df_score.head(2)

           rating
movieId
as1      3.467131
as10     3.439571

In [9]:
df_score.reset_index(drop=False, inplace=True) #acomodo el indice
df_score.rename({'rating' : 'score'} , axis= 1, inplace=True) #renombro columna
df_score.head(1)

  movieId     score
0     as1  3.467131

In [10]:
#agrego el score al df original
#df_ratingcompleto = df_ratinTotal.merge(df_score, on='movieId', how='left')
#df_ratingcompleto.head(1)

   userId  rating   timestamp movieId               fecha     score
0       1     1.0  1425941529   as680 2015-03-09 22:52:09  3.549127

In [11]:
#cambio nombre id
#df_ratingcompleto.rename({'movieId' : 'id'} , axis= 1, inplace=True)
#guardo archivo
#df_ratingcompleto.to_csv('transformacion_ratings.csv', index=False)
#df_ratingcompleto.head(1)

   userId  rating   timestamp     id               fecha     score
0       1     1.0  1425941529  as680 2015-03-09 22:52:09  3.549127

In [10]:
df_score.to_csv('score_movies.csv', index=False)