In [1]:
import pandas as pd
import numpy as np

Transformacion de datos Amazon

In [3]:
df_amazon = pd.read_csv(r'MLOpsReviews\amazon_prime_titles.csv', delimiter= ',',encoding= 'utf-8')

In [4]:
df_amazon.head(2) #reviso datos

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [5]:
#inserto columna 'id'
df_amazon.insert(0,'id', 'a' + df_amazon['show_id'], allow_duplicates=False)
df_amazon.columns

Index(['id', 'show_id', 'type', 'title', 'director', 'cast', 'country',
       'date_added', 'release_year', 'rating', 'duration', 'listed_in',
       'description'],
      dtype='object')

In [6]:
#lleno campos vacios de 'rating' 
df_amazon['rating'].fillna('G', inplace=True)

In [7]:
#modifico el campo 'date_added' 
df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added'], yearfirst= True)
df_amazon.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...

In [8]:
#paso los campos a minuscula
df_amazon['id'] = df_amazon['id'].str.lower()
df_amazon['show_id'] = df_amazon['show_id'].str.lower()
df_amazon['type'] = df_amazon['type'].str.lower()
df_amazon['title'] = df_amazon['title'].str.lower()
df_amazon['director'] = df_amazon['director'].str.lower()
df_amazon['cast'] = df_amazon['cast'].str.lower()
df_amazon['country'] = df_amazon['country'].str.lower()
df_amazon['duration'] = df_amazon['duration'].str.lower()
df_amazon['listed_in'] = df_amazon['listed_in'].str.lower()
df_amazon['description'] = df_amazon['description'].str.lower()
df_amazon['rating'] = df_amazon['rating'].str.lower()
df_amazon.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...

In [9]:
#divido columna
df_amazon[['duration_int', 'duration_type']] =  df_amazon['duration'].str.split(expand=True)
#verifico valores unicos
df_amazon['duration_type'].unique()

array(['min', 'season', 'seasons'], dtype=object)

In [10]:
#reemplazo
df_amazon['duration_type']= df_amazon['duration_type'].replace('seasons', 'season')
df_amazon['duration_type'].unique()

array(['min', 'season'], dtype=object)

In [11]:
#modifico el tipo de dato
df_amazon['duration_int']= df_amazon['duration_int'].astype('Int64')
#corroboro
df_amazon['duration_int'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9668 entries, 0 to 9667
Series name: duration_int
Non-Null Count  Dtype
--------------  -----
9668 non-null   Int64
dtypes: Int64(1)
memory usage: 85.1 KB

In [12]:
df_amazon.to_csv('transformacion_amazon.csv', index=False) #guardo archivo modificado

Transformacion de datos Disney

In [13]:
df_disney = pd.read_csv(r'MLOpsReviews\disney_plus_titles.csv', delimiter= ',',encoding= 'utf-8')
df_disney.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!

In [14]:
#inserto columna 'id'
df_disney.insert(0,'id', 'd' + df_disney['show_id'], allow_duplicates=False)
#lleno campos vacios de 'rating' 
df_disney['rating'].fillna('G', inplace=True)
#modifico el campo 'date_added'
df_disney['date_added'] = pd.to_datetime(df_amazon['date_added'], yearfirst= True)
df_disney.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ds1,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2021-03-30,2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!

In [15]:
#paso campos a minuscula
df_disney['id'] = df_disney['id'].str.lower()
df_disney['show_id'] = df_disney['show_id'].str.lower()
df_disney['type'] = df_disney['type'].str.lower()
df_disney['title'] = df_disney['title'].str.lower()
df_disney['director'] = df_disney['director'].str.lower()
df_disney['cast'] = df_disney['cast'].str.lower()
df_disney['country'] = df_disney['country'].str.lower()
df_disney['duration'] = df_disney['duration'].str.lower()
df_disney['listed_in'] = df_disney['listed_in'].str.lower()
df_disney['description'] = df_disney['description'].str.lower()
df_disney['rating'] = df_disney['rating'].str.lower()

In [16]:
#divido columna
df_disney[['duration_int', 'duration_type']] =  df_disney['duration'].str.split(expand=True)

#reemplazo
df_disney['duration_type']= df_disney['duration_type'].replace('seasons', 'season')

#modifico el tipo de dato
df_disney['duration_int']= df_disney['duration_int'].astype('Int64')
df_disney.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,ds1,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-03-30,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,23,min

In [17]:
df_disney.to_csv('transformacion_disney.csv', index=False) #guardo archivo modificado

Transformacion Hulu

In [19]:
df_hulu = pd.read_csv(r'MLOpsReviews\hulu_titles.csv', delimiter= ',',encoding= 'utf-8')
df_hulu.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...

In [20]:
#agrego campo id
df_hulu.insert(0,'id', 'h' + df_hulu['show_id'], allow_duplicates=False)
#lleno vacios de rating
df_hulu['rating'].fillna('G', inplace=True)
#modifico date added
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'], yearfirst= True)
df_hulu.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021-10-24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...

In [21]:
#error por campos vacios
df_hulu['id'] = df_hulu['id'].str.lower()
df_hulu['show_id'] = df_hulu['show_id'].str.lower()
df_hulu['type'] = df_hulu['type'].str.lower()
df_hulu['title'] = df_hulu['title'].str.lower()
df_hulu['director'] = df_hulu['director'].str.lower()
df_hulu['cast'] = df_hulu['cast'].str.lower()
df_hulu['country'] = df_hulu['country'].str.lower()
df_hulu['duration'] = df_hulu['duration'].str.lower()
df_hulu['listed_in'] = df_hulu['listed_in'].str.lower()
df_hulu['description'] = df_hulu['description'].str.lower()
df_hulu['rating'] = df_hulu['rating'].str.lower()

AttributeError: Can only use .str accessor with string values!

In [22]:
#verifico
print(df_hulu.isna().sum())
df_hulu.shape

id                 0
show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating             0
duration         479
listed_in          0
description        4
dtype: int64

(3073, 13)

In [23]:
#cambio campos a minuscula
df_hulu['id'] = df_hulu['id'].str.lower()
df_hulu['show_id'] = df_hulu['show_id'].str.lower()
df_hulu['type'] = df_hulu['type'].str.lower()
df_hulu['title'] = df_hulu['title'].str.lower()
df_hulu['director'] = df_hulu['director'].str.lower()
#df_hulu['cast'] = df_hulu['cast'].str.lower()
df_hulu['country'] = df_hulu['country'].str.lower()
df_hulu['duration'] = df_hulu['duration'].str.lower()
df_hulu['listed_in'] = df_hulu['listed_in'].str.lower()
df_hulu['description'] = df_hulu['description'].str.lower()
df_hulu['rating'] = df_hulu['rating'].str.lower()

In [24]:
#divido columna
df_hulu[['duration_int', 'duration_type']] =  df_hulu['duration'].str.split(expand=True)

#reemplazo
df_hulu['duration_type']= df_hulu['duration_type'].replace('seasons', 'season')

#modifico el tipo de dato
df_hulu['duration_int']= df_hulu['duration_int'].astype('Int64')
df_hulu.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,hs1,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,<NA>,NaN

In [25]:
df_hulu.to_csv('transformacion_hulu.csv', index=False) #guardo archivo modificado

Transformarcion Netflix

In [27]:
df_netflix = pd.read_csv(r'MLOpsReviews\netflix_titles.csv', delimiter= ',',encoding= 'utf-8')
df_netflix.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [28]:
#inserto columna id
df_netflix.insert(0,'id', 'n' + df_netflix['show_id'], allow_duplicates=False)
#lleno vacios de campo rating
df_netflix['rating'].fillna('G', inplace=True)
#modifico campo date added
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], yearfirst= True)
#verifico campos vacios
print(df_netflix.isna().sum())
df_netflix.shape

id                 0
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             0
duration           3
listed_in          0
description        0
dtype: int64

(8807, 13)

In [29]:
#cambio campos a minuscula
df_netflix['id'] = df_netflix['id'].str.lower()
df_netflix['show_id'] = df_netflix['show_id'].str.lower()
df_netflix['type'] = df_netflix['type'].str.lower()
df_netflix['title'] = df_netflix['title'].str.lower()
df_netflix['director'] = df_netflix['director'].str.lower()
df_netflix['cast'] = df_netflix['cast'].str.lower()
df_netflix['country'] = df_netflix['country'].str.lower()
df_netflix['duration'] = df_netflix['duration'].str.lower()
df_netflix['listed_in'] = df_netflix['listed_in'].str.lower()
df_netflix['description'] = df_netflix['description'].str.lower()
df_netflix['rating'] = df_netflix['rating'].str.lower()

In [30]:
#divido columna
df_netflix[['duration_int', 'duration_type']] =  df_netflix['duration'].str.split(expand=True)

#reemplazo
df_netflix['duration_type']= df_netflix['duration_type'].replace('seasons', 'season')

#modifico el tipo de dato
df_netflix['duration_int']= df_netflix['duration_int'].astype('Int64')
df_netflix.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,ns1,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",90,min

In [31]:
df_netflix.to_csv('transformacion_netflix.csv', index=False) #guardo archivo modificado